@import "tailwindcss";
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.bg {
  background-color: #3B82F6;
  color: #ffffffd6;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  background-color: #F8FAFC;
}